extends ../shared/layout
block content
    h1 This is the index page
    
    h2 Timestamp service
    a(href="https://fathomless-castle-93664.herokuapp.com/timestamp/1450137600", target="_blank") test timestamp
