extends ../shared/layout
block content
    if isInput
       include timestamp_input
    else
        if  hasErrors
            p= errorMsg
        pre.text-center { "unix": #{content.unix}, "natural": #{content.natural} }
