extends ../../shared/layout

block content
    .container
        h1= title
        if  hasErrors
            p= errorMsg
        pre { "unix": #{content.unix}, "natural": #{content.natural} }
        include ../../shared/footer

