footer.footer
    .container-fluid
        .col-sm-4
            p made by Joe Wemyss
        .col-sm-4
        .col-sm-4
            p.pull-right Report issues to &nbsp;
                span.hidden
                a(href='https://github.com/JavaTheNutt/fcc_node_app/issues', target='_blank') GitHub
                    span
                        i.fa.fa-github






