doctype html
html
  head
      meta(name="description", content='This is the webpage to display my output development projects')
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name="viewport",content='width=device-width, initial-scale=1')
      title=title
      link(rel="stylesheet", href='/vendor/normalize-css/normalize.css')

      link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
      link(rel="stylesheet", href='/vendor/bootstrap/dist/css/bootstrap-theme')
      link(href="/vendor/font-awesome/css/font-awesome.css", rel="stylesheet")
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrap
        include header
        .container
            block content
        include footer
    include scripts


